@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes danceBg {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 10% 10%;
  }
  50% {
    background-position: 0% 20%;
  }
  75% {
    background-position: 20% 10%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.count-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem; 
  color: #4a4a4a;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.count-up .count-value {
  display: inline-block;
  animation: countUp 2s ease-in-out forwards;
}

@keyframes countUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem; 
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.count-container:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.logo {
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 10px rgb(129, 18, 255));
}

